
@font-face {
	font-family: 'Conv_Rockwell';
	src: url('../fonts/Rockwell.eot');
	src: url('../fonts/Rockwell.woff') format('woff'), 
		 url('../fonts/Rockwell.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Rockwell.ttf') format('truetype'), 
		 url('../fonts/Rockwell.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}